html {
	height: 100%;
}

body {
	/*background: url(./assets/background.jpg);*/
	background-color: #192aaa;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
}

li {
	list-style: none;
	display: inline-block;
	color: #e2d252;
}

h1 , p {
	border: 5px dotted;
	text-align: center;
	color: #e2d252;
	cursor: pointer;
}