@import url('https://fonts.googleapis.com/css?family=Montserrat|Prata');
html {
	height: 100%;
}

body {
	background-color: #916553;
	height: 100%;
	margin: 0;
}

h1 {
	text-align: center;
	color: #e2d252;
	cursor: pointer;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.number {
	font-size: 4em;
	font-family: 'Prata';
	height: 3em;
	width: 3em;
	background-color: blue;
	border: 5px dotted;
	border-color: pink;
	text-align: center;
}